Add CSS styling here
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0; 

vertical-align: baseline;  
}

* {
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;

}

body {
  overflow-x: hidden;

}

/* NAV BAR */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 98;
}
.topLeftD {
  display: flex;
  justify-content: flex-start;
}
.homeContact {
  display: flex;
  justify-content: flex-end;
}

 header.sticky {
    padding: 10px 100px;
    background: rgba(1, 1, 93, 0.685);
    transition: 0.6s;
}

header.sticky .headerTitle {
    color: #fff;
    font-size: 2em;    
}
header.sticky ul li a {
    color: #fff;
}
header .headerTitle {
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 4em;
    text-transform: uppercase;
    transition: 0.6s;
    font-family: 'Orbitron', sans-serif;
}

header ul {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    /* position: relative; */
    list-style: none;
}

header ul li a {
    /* position: relative; */
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    font-size: 1.5em;
}

header ul li a:hover {
    color: #fff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

header.sticky ul li a:hover {
    color: #000;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
/*End of Nav Bar*/

/* Main Body */
.topBanner {
    height: 90vh;
    background-color: #21D4FD;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.landingPage {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  max-width: 60%;

}




.childBanner1 p {
    font-size: 2.2em;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.822);
    text-align: center;

    display: flex;
    align-self: flex-start;

}

.childBanner1 h1 {
  font-family: Righteous;
  font-size: 5em;
  color: #000000;

  display: flex;
  align-self: flex-start;
}

.childBanner1Nested p {
 font-size: 1.7em;
 display: flex;
 align-self: flex-start;
 text-align:left;
}
.svgWave {
  background-image: linear-gradient(to bottom,#21D4FD 20%, white 20%);
}
/* Mid Area */
.mid {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* About Me */
.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
}
.aboutMe h2 {
  font-family: Righteous;
  font-size: 5em;
  color: #000000;
  align-self: center;
}
.aboutMeSection{
  display: flex;
  flex-flow: row nowrap;
  max-width: 60%;
}
.aboutMeBio {
  display: flex;
}
.aboutMeImg {
  display: inline-block;
  position: relative;

  margin: 0px 35px;
  width: 300px;
  height: 520px;
  background:#fff;
  border: solid black;
  border-color: black; 
  border-width: 5px 3px 3px 5px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;

  overflow: hidden;
}
/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects h2 {
  font-family: Righteous;
  font-size: 5em;
  color: #000000;
  align-self: center;
}
.projects h3 {
  font-family: Gayathri;
  font-size: 3em;
  color: #000000;
  align-self: center;
}
.projectsSection{
  min-height: 100vh;
  margin-top: 25px;
}
.projectsButtons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;

  transition: 1s;

}
.projectTabLink {
  outline: none;
  border: none;
  color: white;
  background-color: #555;
  cursor: pointer;
  padding: 25px 40px;
  font-size: 25px;
  transition: .6s;
}
.projectTabLink:hover {
  background-color: #999;
}
.projectContent {
  color:black;
  display: none;
}

.projectsContainer {
 display: flex;
 flex-flow: row nowrap;
 max-width: 60%;
}

.project1 {
  flex-flow: column nowrap;
  align-items: center;
}
.project1 h3{
  margin: 35px 0px;
}
.project1Img {
  display: flex;
  width: auto;
  height: auto;
}
.responsive {
  width: 100%;
  height: auto;
}
.project1Caption {
  margin-left: 25px;
}
.project1Icon1{
  color: orange;
}
.project1Icon2{
  color:skyblue;
}
.project1Icon3{
  color: yellow;
}
.iconify {
  width:30px;
  height:30px;
  color: rgb(1, 95, 189);
  margin-top: 5px;
}

.project1Github {
display: flex;
justify-content: flex-end;
}
.project1Github i {
  margin-right: 1em;
}
.project2 {
 flex-flow: column nowrap;
}
.project3 {
  flex-flow: column nowrap;
}


/* End of Main Body */
/* Footer */
.footerFix {
  background-image: linear-gradient(to top, #FD0237 20%, white 20%);
  min-height: 10vh;
}
footer {
  background-color: #FD0237;
    min-height: 50vh;
}
/* Loader */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: #242F3F; */
    background-color: #FD0237;
    z-index: 99;
  
    display: flex;
    justify-content: center;
    align-items: center;

    animation: fadeOut 5s;

  }
  
  .loader {
    display: inline-block;
   
    position: relative;
    
    font-family: Righteous;
    color: white;
    
    font-size: 100px;
    
    
    animation: loader 5s infinite ease;
  
  }
  
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(0deg);
    }
    
    75% {
      transform: rotate(180deg);
    }
    
    100% {
      transform: rotate(360deg);
      
    }
  }

 @keyframes fadeOut {
   0% {
     opacity: 1;
   }

   25% {
     opacity: 1;
   }
   90% {
     opacity: 0;
   }
 }

 /* Arrow Pointing Down */

 .arrow { 
  transform: translate(-50%,-50%);
  position: absolute;
  bottom: 1.1em;
  visibility: hidden;
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  transform: rotate(45deg);
  margin: -8px;
  animation: arrowDown 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes arrowDown {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}


/* Media Queries  */

 /* Modern iPhone: Portrait*/
 @media only screen 
 and (min-device-width: 375px) 
 and (max-device-width: 812px) 
 and (-webkit-min-device-pixel-ratio: 3)
 and (orientation: portrait) {

  html,body
  {
      overflow-x: hidden; 
  }
  header {
    padding: 40px 0px;
  }
  header.sticky {
    padding: 10px 0px;
  }
  .headerTitle {
    display: flex;
  }
  .topLeftD {
   margin-left: 3em;
   align-self:flex-start;
  }
  .landingPage {

    flex-direction: column;
   
    height: 80vh;
    width: 40%;

  }

  .aboutMe {
    display: flex;
    flex-flow: row wrap-reverse;
    align-items: center;
  }

  .aboutMeSection {
      display: flex;
      flex-flow: row wrap-reverse;
      max-width: 60%;
  }
  .aboutMeImg {
    margin: 35px 35px;
  }
}

/* */
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 812px) {
  
  html,body
  {
      overflow-x: hidden; 
  }
  .topBanner {
    height: 150vh;
  }

  .landingPage {

    flex-direction: column;
   
    height: 50%;


  }

  .aboutMe {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .aboutMeSection {
      display: flex;
      flex-flow: row wrap;
      max-width: 60%;
  }
  .aboutMeImg {
    margin: 35px 35px;
  }
}
