/* Add CSS styling here */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  

vertical-align: baseline;  
}

* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;
}

/* NAV BAR */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 98;
 
}

header.sticky {
    padding: 5px 100px;
    background: #08B2E3;
}

header.sticky .headerTitle {
    color: #fff;
}
header.sticky ul li a {
    color: #fff;
}
header .headerTitle {
    position: relative;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    font-family: 'Orbitron', sans-serif;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header ul li a:hover {
    color: #fff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

header.sticky ul li a:hover {
    color: #000;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

/*End of Nav Bar*/

.topBanner {
    height: 100vh;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
        
    display: flex;
    justify-content: center;
}

.childBanner1 {
    align-self: center;
}
.childBanner1 p {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.8em;
    font-weight: 500;
}

.childBanner1Nested p {
    font-family: Raleway;
    font-size: 1.4em;
}

/* Loader */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242F3F;
    z-index: 99;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader-wrapper button {
    background-color: #242F3F;
    text-decoration: none;
  }
  
  .loader {
    display: inline-block;
   
    position: relative;
    
    font-family: Righteous;
    color: white;
    
    font-size: 700px;
    
    
    animation: loader 4s infinite ease;
    
    font-size: 25px;
  }
  
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(0deg);
    }
    
    75% {
      transform: rotate(180deg);
    }
    
    100% {
      transform: rotate(360deg);
      
    }
  }
  

/* Media Queries  */