Add CSS styling here
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0; 

vertical-align: baseline;  
}

* {
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

body {
  overflow-x: hidden;

}

/* NAV BAR */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 98;
}
.topLeftD {
  display: flex;
  justify-content: flex-start;
}
.homeContact {
  display: flex;
  justify-content: flex-end;
}
.home {
  display: none;
}
.contact {
  display: none;
}

 header.sticky {
    padding: 10px 100px;
    
    transition: 0.6s;
}

header.sticky .headerTitle {
    color: #fff;
    font-size: 2em;    
}
header.sticky ul li a {
    color: #fff;
}
header .headerTitle {
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 4em;
    text-transform: uppercase;
    transition: 0.6s;
    font-family: 'Orbitron', sans-serif;
    display: none;
}

header ul {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    /* position: relative; */
    list-style: none;
}

header ul li a {
    /* position: relative; */
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    font-size: 1.5em;
}

header ul li a:hover {
    color: #4E4E50;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

header.sticky ul li a:hover {
    color: #4E4E50;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
/*End of Nav Bar*/

/* Side Bar */
.stickySidebar {
  position: fixed;
  top: 80%;
  left: 3%;
  visibility: hidden;
}
.stickySidebar ul {
  color:white;
  font-size: 30px;
  list-style-type: none;
}
.stickySidebar ul li a {
  color: #fff;
}
.stickySidebar ul li a:visited {
  color: #4E4E50;
}
.stickySidebar ul li a:visited:hover {
  color: #fff;
  transition: .4s;
}

.stickySidebar ul li a:hover {
  color:#4E4E50;
  transition: .4s;
}

/* Main Body */
main {
padding: 0px 100px;
background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}
.topBanner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
}
.landingPage {
  height: 100vh;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingPageButtons button {
  margin: 25px;
  padding: 25px 50px;

  color: #111;
  font-family: Righteous;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  cursor: pointer;
}


.landingPageButtons button::before {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0px;
  width: 100%;
  height: 3px;
  background: black;
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}
.landingPageButtons button:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}


.landingPageButtons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}



.childBanner1 p {
    font-size: 2.2em;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.822);
    text-align: center;
    display: flex;
    align-self: flex-start;
}

.childBanner1 h1 {
  font-family: Righteous;
  font-size: 120px;
  color: #C3073F;

  display: flex;
  align-self: flex-start;
}

.childBanner1Nested p {
  display: none;
 font-size: 1.7em;

 align-self: flex-start;
 text-align:left;
 color: #fff;
}
.childBanner1Nested h2 {
  font-size: 60px;
  color: #4E4E50;
}
.childBanner1Heading {
  visibility: hidden;
}
.childBanner1Name {
  visibility: hidden;
}
.iDevelop {
  visibility: hidden;
}
.smallBio {
  visibility: hidden;
}
.resumeButton2ElectricBoogaloo {
  visibility: hidden;
}
.sayHello2TokyoDrift {
  visibility: hidden;
}

/* Mid Area */
.mid {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* About Me */
.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.aboutMe h2 {
  font-family: Righteous;
  font-size: 5em;
  color: #C3073F;
  align-self: center;
  margin: 1em 1em;
}
.aboutMeSection {
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: center;
  align-items: center;
}
.aboutMeBio p {
  font-size: 28px;
  color: #fff;
  font-family: Gayathri;
}
.aboutMeBio li {
  font-size: 25px;
  color: #fff;
  font-family: Gayathri;
}

.aboutMeImg {
  margin: 0px 35px;
  width: 310px;
  height: 520px;
  background:#fff;
  border: solid black;
  border-color: black; 
  border-width: 5px 3px 3px 5px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;

  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8em;
}
.projects h2 {
  font-family: Righteous;
  font-size: 5em;
  color: #C3073F;
  align-self: center;
}
.projects h3 {
  font-family: Gayathri;
  font-size: 50px;
  color: #fff;
  align-self: center;
}
.projectsButtons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  transition: 1s;

}

.projectTabLink{
  padding: 15px 100px;
  margin:10px 4px;
  color: #111;
  font-family: Righteous;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  cursor: pointer;
}

.projectTabLink::before {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 0px;
  width: 100%;
  height: 3px;
  background: black;
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}
.projectTabLink:hover::before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}

.projectContent {
  display: none;
}
.projectContent p {
  font-family: Gayathri;
  color: #8892B0;
  font-size: 20px;
}
.projectsContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.project1 {
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fade-up {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes zoom-in {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  
  100% {
    opacity:1;
    transform: scale(1);
  }
}

.project1 h3{
  margin: 25px 0px;
}

.project1Caption {
  margin-left: 25px;
}
.project1Icon1{
  color: orange;
}
.project1Icon2{
  color:skyblue;
}
.project1Icon3{
  color: yellow;
}
.iconify {
  width:30px;
  height:30px;
  color: rgb(1, 95, 189);
  margin-top: 5px;
}

.project1Github {
display: flex;
justify-content: flex-end;
font-family: Righteous;
color: #fff;
}
.project1Github i {
  margin-right: 1em;
}
.project2 {
 flex-flow: column nowrap;
}
.project3 {
  flex-flow: column nowrap;
}


/* End of Main Body */
/* Footer */
footer {
    min-height: 50vh;
}
/* Loader */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: #242F3F; */
    background-color: #C3073F;
    z-index: 99;
  
    display: flex;
    justify-content: center;
    align-items: center;

    animation: fadeOut 5.1s;

  }
  
  .loader {
    display: inline-block;
   
    position: relative;
    
    font-family: Righteous;
    color: white;
    
    font-size: 100px;
    
    
    animation: loader 5s infinite ease;
  
  }
  
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(0deg);
    }
    
    75% {
      transform: rotate(180deg);
    }
    
    100% {
      transform: rotate(360deg);
      
    }
  }

 @keyframes fadeOut {
   0% {
     opacity: 1;
   }

   25% {
     opacity: 1;
   }
   100% {
     opacity: 0;
   }

 }

 /* Arrow Pointing Down */

 .arrow { 
  transform: translate(-50%,-50%);
  position: absolute;
  bottom: 1em;
  visibility: hidden;
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #C3073F;
  border-right: 5px solid #C3073F;
  transform: rotate(45deg);
  margin: -8px;
  animation: arrowDown 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes arrowDown {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}


/* Media Queries  */
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 897px) {
  
  html,body {
      overflow-x: hidden; 
  }
  header {
    position: absolute;
    display: flex;
    justify-content: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 98;
  }
  .landingPage {
    display: flex;
  }
 
  .childBanner1 p {
    font-size: 1.9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.childBanner1 h1 {
  font-family: Righteous;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.childBanner1Nested h2 {
  font-size: 40px;
  text-align: center;
  color: #4E4E50;
}

  .aboutMe h2 {
    text-align: center;
    margin: 0.5em 0.5em;
  }

  .aboutMeSection {
      display: flex;
      flex-flow: column-reverse wrap;
  }
  .aboutMeImg {
    margin: 35px 35px;
  }
  .aboutMeBio {
    margin: 0px 65px;
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
 .projectsContainer{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
 }

}

